accelerate==1.0.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==4.0.3
attrs==24.2.0
babel==2.16.0
blinker==1.8.2
bounded-pool-executor==0.0.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
contourpy==1.3.0
cycler==0.12.1
datasets==3.0.1
dill==0.3.8
distro==1.9.0
docutils==0.21.2
eli5==0.13.0
evaluate==0.4.3
fastapi==0.115.4
ffmpy==0.4.0
filelock==3.16.1
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.1
gradio==5.4.0
gradio_client==1.4.2
graphviz==0.20.3
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.2
idna==3.10
imagesize==1.4.1
imbalanced-learn==0.12.4
imblearn==0.0
iniconfig==2.0.0
ipython==8.28.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
langchain==0.3.6
langchain-core==0.3.14
langchain-text-splitters==0.3.1
langsmith==0.1.138
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.4.1
numba==0.60.0
numpy==1.26.0
numpydoc==1.8.0
openai==1.53.0
opencv-python==4.10.0.84
orjson==3.10.10
pandas==2.2.3
PDPbox==0.3.0
pillow==10.4.0
plotly==5.24.1
pluggy==1.5.0
pqdm==0.2.0
propcache==0.2.0
pyarrow==17.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pyparsing==3.2.0
pytest==8.3.3
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2024.2
pywin32==305.1
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.3
ruff==0.7.1
safehttpx==0.1.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
sentence-transformers==3.2.1
shap==0.46.0
shellingham==1.5.4
slicer==0.0.8
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
starlette==0.41.2
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
tokenizers==0.20.1
tomli==2.0.2
tomlkit==0.12.0
torch==2.1.0+cu118 @ https://download.pytorch.org/whl/cu118/torch_stable.html
tqdm==4.66.5
transformers==4.45.2
typer==0.12.5
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.32.0
websockets==12.0
Werkzeug==3.0.4
xgboost==2.1.1
xxhash==3.5.0
yarl==1.15.0
